<?xml version='1.0' encoding='utf-8'?>
        <!DOCTYPE hibernate-configuration PUBLIC
                "-//Hibernate/Hibernate Configuration DTD//EN"
                "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>

    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/MyShop?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=CONVERT_TO_NULL&amp;serverTimezone=UTC&amp;useSSL=false</property>
    <property name="connection.username">XXXX</property>
    <property name="connection.password">XXXX</property>
    <property name="hibernate.connection.characterEncoding">utf8</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>

    <mapping class="MyShop.entity.Category"/>
    <mapping class="MyShop.entity.Account"/>
    <mapping class="MyShop.entity.Orders"/>
    <mapping class="MyShop.entity.Producer"/>
    <mapping class="MyShop.entity.Product"/>
    <mapping class="MyShop.entity.OrderItem"/>

</session-factory>
</hibernate-configuration>
